<% if (post.comments) { %>
  <% if (theme.comment.valine.enable && theme.comment.valine.appid && theme.comment.valine.appkey) { %>
    <section id="comments"><%- partial('comment/valine', { script: true } )%></section>
  <% } %>
<% } %>
